
body {
	background: url('/img/bg.png');
}

h1 {
	font-size: 1.1em;
}

a {
	color: #c4c8de;
	text-decoration: none;
}

a:hover {
	color: red;
}

.pageerror {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	font-family: 'Roboto Condensed', Arial, Tahoma;
	background-color: #d73737;
	color: #fefefb;
}

#content {
	position: relative;
	min-height: 300px;
	color: #c4c8de;
	top: 90px;
	width: 590px;
	margin: 0 auto;
	padding: 32px 5px 32px 5px;
	background: #232323 url('/img/content-top.png') repeat-x;
	text-align: center;
	font-family: 'Roboto Condensed', Arial, Tahoma;
}

#content #description {
	width: 400px;
	margin: 20px auto 20px auto;
	font-size: 0.9em;
}

#content input[type="text"] {
	width: 320px;
	height: 20px;
	margin: 7px auto 7px auto;
	clear: both;

	border: 2px solid #191a1b;

	text-align: center;
	font-size: 0.9em;
	color: #111;
	font-family: 'Roboto Condensed', Arial, Tahoma;
}

#content .autocomplete {
	width: 320px;
	height: 20px;
	margin: 7px auto 7px auto;
	clear: both;

	border: 2px solid #191a1b;

	text-align: center;
	font-size: 0.9em;
	color: #111;
	font-family: 'Roboto Condensed', Arial, Tahoma;
}

#content input[type="submit"] {
	width: 128px;
	height: 32px;
	display: block;
	border: none;
	margin: 20px auto 20px auto;

	background: url('/img/submit.png');
}

#content input[type="submit"]:hover {
	background: url('/img/submit_h.png');}