#results {
	width: 800px;
	color: #c4c8de;
	margin: 0 auto;
	padding: 5px;
	min-height: 400px;
	background-color: #232323;
	border-radius: 5px;

	top: 90px;
	margin: 0 auto;
	background: #232323 url('/img/content-top.png') repeat-x;
	font-family: 'Roboto Condensed', Arial, Tahoma;
}
}

#results a {
	text-decoration: none;
	color: white;
}

#results a:hover {
	color: red;
}

#results .vid {
	width:  790px;
	height: 44px;
	background-color: #111;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;

	font-size: 11px;
	transition: height 0.2s;
	overflow: hidden;
}

#results .vid:hover {
	height: 80px;
}

#results .vid .thumb {
	width: 142px;
	height: 100%;
	display: inline-block;
}

#results .vid .thumb img {
	width: 100%;
}

#results .vid .text {
	width: 648px;
	height: 80px;
	display: inline-block;
	overflow: hidden;
}

#results .vid .text .cdiv {
	position: relative;
	width: 400px;
	height: 40px;
	display: inline-block;
	font-size: 1.4em;
	margin: 3px 3px 0 3px;
	font-family: 'Roboto Condensed', Tahoma;

	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

#results .vid .text .rdiv {
	position: relative;
	width: 236px;
	height: 40px;
	display: inline-block;
	font-size: 1.4em;
	margin: 3px 3px 0 3px;
	font-family: 'Roboto Condensed', Tahoma;
	text-align: right;

	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

#results .vid .text .bot {
	color: #999999;
	position: relative;
	bottom: 2px;
	width: 648px;
	height: 40px;
	margin: 20px 3px 0 3px;
	font-size: 1.0em;
	font-family: 'Roboto Condensed', Tahoma;

	vertical-align: bottom;
}

#results .vid .text .bot .opt {
	cursor: pointer;
	color: inherit;
	display: inline-block;
	position: relative;
}

#results .vid .text .bot .opt:hover {
	color: red;
}

#results .vid .text .bot .opt .popup {
	width: 222px;
	height: 25px;

	background: url('/img/bubb.png') no-repeat;

	font-size: 1.2em;
	text-align: center;
	color: #122;

	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -110px;

	opacity: 0;
	visibility: hidden;
	cursor: auto;

	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}

#results .vid .text .bot .opt .popup a {
	color: #112;
}

#results .vid .text .bot .opt:hover .popup {
	visibility: visible;
	opacity: 1;
}
#results .vid .text .bot .opt .popup:hover {
	visibility: visible;
	opacity: 1;
}